<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString"
            connectionString="Data Source=ENUMA-PC;Initial Catalog=CodeInspector;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString1"
            connectionString="Data Source=VINICIUS-PC\SQLEXPRESS;Initial Catalog=CodeInspector;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString2"
            connectionString="Data Source=ENUMA-LAPTOP\SQLEXPRESS;Initial Catalog=CodeInspector;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString3"
            connectionString="Data Source=ENUMA-LAPTOP;Initial Catalog=CodeInspector;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString4"
            connectionString="Data Source=VirtualWS7;Initial Catalog=CodeInspector;User ID=Codeinspector;Password=TreeOFLife1503"
            providerName="System.Data.SqlClient" />
        <add name="CIDao.Properties.Settings.CodeInspectorConnectionString5"
            connectionString="Data Source=ALFHEINSERVER;Initial Catalog=CodeInspector;User ID=out;Password=TreeOFLife1503"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>